* {
    margin: 0px;
    padding: 0px;
}

:root {
    --lightBlue: #4D5D8D;
    --lightBlue2: #D0D9E0;
    --lightBlue3: #A1BFFA;
    --darkBlue: #313A57;
    --darkBlue2: #1B2936;
    --footerColor: #23252B;
    --footerColor2: #131416;
    --loginColor: #3F4F5E;
    --loginColor2: #979CA7;
    --white: #FFFFFF;
}

/* Header */
.webheader {
    background-color: var(--lightBlue);
    border-bottom: 10px solid var(--darkBlue);
    height: 25vh;
}
.descH {
    height: 50%;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    height: 100%;
}
.login-logout {
    display: flex;
    justify-content: flex-end;
}
.return {
    display: flex;
    justify-content: flex-start;
}
.log {
    margin: 5px;
}
.btn-login-logout-return {
    color: var(--white);
    font-size: larger;
    font-weight: bold;
}

/* Section */
.websection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0px 70px;
}
.descS1 {
    display: flex;
    justify-content: center;
    background-color: var(--darkBlue2);
    height: 500px;
}
.col-align {
    display: flex;
    align-items: center;
}
.itens {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: var(--white);
    background-color: var(--darkBlue2);
    width: 300px;
}
.btn-align {
    display: flex;
    justify-content: center;
}
.btn-details {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    width: 100px;
}

/* datails - html */
.descForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightBlue2);
}
.align-margin-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.form-width {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.margin-align {
    margin-top: 10px;
}
.btn-align-crud {
    display: flex;
    flex-direction: column;
}
.btn-crud {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    width: 100%;
    margin: 3px;
}
.table th {
    background-color: var(--lightBlue2);
    position: sticky;
    top: -1px;
}
.table {
    width: (400px, 800px);
}
.table tr {
    scroll-snap-align: start;
}
.tabScroll {
   overflow-y: auto;
   scroll-snap-type: y mandatory;
   height: 540px;
   width: 320px;
}

/* login - html */
.loginsection {
    display: flex;
    align-items: center;
    background-image: linear-gradient(var(--loginColor),var(--loginColor2),var(--loginColor));
    height: 100vh;
}
.descLogin {
    display: flex;
    justify-content: center;
}
.login-format {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 30px;
    width: 350px;
    min-width: 200px;
    padding: 20px;
}

/* Footer */
.webfooter {
    display: flex;
    background-color: var(--footerColor);
    border-top: 10px solid var(--footerColor2);
    height: 40vh;
}
.descF {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
a:hover {
    color: var(--white);
}
.btn-details:hover {
    color: var(--lightBlue3);
}